<html>
<head>
  <title>TradeCove</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/slick.min.css" />
  <link rel="stylesheet" href="/bootflat.css">
</head>
  <body>

  <main id="root"></main>

    <script>
      window.__INITIAL_STATE__ = {
        "appstate": {
          "token": "",
          "userId": "583458f93d68820012029c24",
          "apiUrl": "https://trade.mgbeta.ru/api/v1"
        }
      }
    </script>
    <script src="/bundle.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjP5oLOsusUOO_xFn21AQXwoEgMmVybGs"></script>
  </body>
</html>
