<html>
<head>
  <title>TradeCove</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
  <link rel="stylesheet" href="//bootflat.github.io/bootflat/css/bootflat.css">
</head>
  <body>

  <main id="root"></main>

    <script>
      window.__INITIAL_STATE__ = {
        "appstate": {
          "token": "",
          // "userId": "57f4f00cf383800011a2ffdc",
          "userId": "583458f93d68820012029c24",
          // "userId": "58174da2b4d03e5384d0578d",
          // "apiUrl": "http://a0e885bb.ngrok.io/api/v1"
          "apiUrl": "https://trade.mgbeta.ru/api/v1",
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjP5oLOsusUOO_xFn21AQXwoEgMmVybGs"></script>
    <script src="//y.mgbeta.ru:3000/client/main.js"></script>
  </body>
</html>
